.modal {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: (0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        background-color: #fff;
        color: #000;
        width: 60%;
        height: 60%;
        border-radius: 20%;
        border: solid 1px;

        .close {
            width: 100%;
            height: 5vh;
            background-color: rgb(64, 101, 224);
        }

        .imgModal {
            width: 200px;
            padding-top: 22px;
        }
    }
}